.slider {
    display: grid;
    grid-template-columns: repeat(5, 35rem);
    //grid-template-rows: 55rem;
    gap: 5rem;
    margin: 7.5rem auto;
    width: 80rem;
    border: 1px solid red;
    overflow: hidden;

    & .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    &__item {
        background-color: skyblue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        &--bottom {
           margin-top: 2.5rem;
           text-align: center;
        }
    }

    &__handle {
        height: 1rem;
        border-radius: 10rem;
        width: 50%;
        background-color: $color-secondary;
        cursor: grab;
    }
}

.why-aloee,
.facial-cleaner {

    & .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        //height: 35rem;
        gap: 5rem;

        &__item {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            & img {
                object-fit: contain;
            }

            &--bottom {
               /* display: flex;
                justify-content: space-between;
                align-items: flex-end;*/
                margin-top: 5rem;
            }
        }
    }
}