ul {
    list-style: none;
    display: inline-flex;
}

li {
    position: relative;
    overflow: hidden;

    &:not(:last-child) {
        margin-right: 5rem;
    }

    &::after {
        left: 0%;
        bottom: 0%;
        height: .1rem;
        width: 100%;
        background-color: $color-secondary;
        transform: translateX(-100%);
        transition: all .3s ease-in-out;
    }

    &:hover::after {
        transform: translateX(0%);
    }

}

.nav--links {
    display: block;
    color: $color-secondary;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 160%;
}