.hero {
    height: 100%;
    width: 100%;
    background-image: url(../../imgs/hero.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    & .wrapper {
        @include centerCenter;
        flex-direction: column;
        height: 100%;
    }
}

.collection, .why-aloee {
    padding: 10rem 0rem;
}